:root{
  /*Pagrindines spalvos duomenys --pagrindine-spalva:#fff*/
  --body-color:#E0E0E0;
  --navigation-color:#0099cc;
  --navigation-hover:#056495;
  --testas:red;
}

li{
  text-decoration: none;
  /*Nuimami taskiukai nuo li elementu, ul viduje */
  list-style:none;
}

html,body{
   font-family: sans-serif;
   background-color:var(--body-color);
   margin: 0;
}

#header{
   width: 100%;
   /*Si parametra keisti, jei meniu slepiasi po divais. 
     Maksimalus 999*/
   z-index: 50;
   /*Sis parametras yra normali pozija. Jei nustatomas 
     left:20px, tai ir bus 20px itraukta nuo kaires */
   position: relative;
   background-color: var(--navigation-color);
   height: 100px;
   /*centravimas*/
   display: flex;
   align-items: center;
}

.nav-header{
  /*Navigation bar virsus, keiciamas aukstis,*/
}

.navigation-items{
  float: left;
  margin: 0 10%;
}

.nav-bar-item{
  display: inline;
  text-align: center;
  padding: 18px 17px;
  text-decoration: none;
  font-size:19px;
}

.nav-bar-item > a {
  text-decoration: none;
  color:white;
}

.nav-bar-item > a:hover{
  color:var(--navigation-hover);
}

#wrapper{
  margin: 0;
}

#site-logo{
  float: left;
  width: 100px;
  height: 100px;
}