:root{
  /*Pagrindines spalvos duomenys --pagrindine-spalva:#fff*/
  --body-color:#E0E0E0;
  --navigation-color:#4e2187;
  --navigation-hover:#ffe58f;
  --footer-color:#4e2187;
  --testas:red;
  --div-color:white;
}



#site-logo:hover > a > svg > #layer101 {

  fill: #ffe58f;

}

.fb_iframe_widget {
  display: inline-block;
  position: fixed !important;
}

*, ::after, ::before {
  box-sizing: border-box;
}

li{
  text-decoration: none;
  /*Nuimami taskiukai nuo li elementu, ul viduje */
  list-style:none;
}

html{
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  display: block;
}

body{
   font-family: sans-serif;
   background-color:var(--body-color);
   margin: 0;
   min-height: 100%;
   position:absolute; 
   top:0; 
   bottom:0; 
   right:0;
   width:100%;
   display: block;
}

main{

  overflow: auto;
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
}

.footer-style{
  background-color: var(--footer-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item > a{
  color:#4e2187;
}

.row-container{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  height: 100%;
  margin: 5%;
  margin-bottom: 75px;
}

#header{
   width: 100%;
   /*Si parametra keisti, jei meniu slepiasi po divais. 
     Maksimalus 999*/
   z-index: 50;
   /*Sis parametras yra normali pozija. Jei nustatomas 
     left:20px, tai ir bus 20px itraukta nuo kaires */
   background-color: var(--navigation-color);
   height: 60px;
   /*centravimas*/
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   padding:0 5%;
}

.navigation-items{
  float: left;
  width: 80%;
}


/*Loading div*/
@keyframes spining {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.loading{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  animation: spining 0.7s linear infinite;
}

.nav-bar-item{
  display: inline;
  text-align: center;
  padding: 18px 17px;
  text-decoration: none;
  font-size:17px;
}

.nav-bar-item > a {
  text-decoration: none;
  color:white; 
}

.nav-bar-item > a:hover{
  color:var(--navigation-hover);
}

.sidebar-column, .main-column{
  position:relative;
  width:100%;
}

#wrapper{
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

#site-logo{
  float: left;
  width: 200px;
}

.header-icon{
  color: white; 
  font-size: 30px; 
  float: right;
}

.active {
  background-color: #4e2187;
}

.header-icon:hover{
  color:var(--navigation-hover);
}

.nav-social-icons{
  float:right;
  width: 10%;
}

.meme-post{
  background-color: var(--div-color);
  min-height: 360px;
  float: left;
  position: relative;
  box-shadow: 0 8px 7px -3px gray;
  width: 100%;
  padding: 3% 4% 2% 4%;
  margin-bottom: 25px;
}

.meme-upload{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--div-color);
  min-height: 360px;
  position: relative;
  box-shadow: 0 8px 7px -3px gray;
  width: 100%;
  font-size: 1.5em;
  padding: 25px;
}

.meme-title{
  margin-top: 0;
  text-align: justify;
}

#sidebar{
  width:  22.5%;
  height: auto;
  background-color: var(--div-color);
  float: left;
  position: fixed;
}

.main-column{
  height: 100%;
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%;
  padding-left: 15px;
  padding-right: 15px;
}

.meme-image, .meme-image > img, .meme-image > video{
  height: 100%;
  width: 100%;
}

.meme-content{
  display: block;
  width: 100%;
}

.control-button > i{
  color:var(--navigation-color);
  font-size:25px;
}

.right-button{
  float: right;
}

.center-button{
  margin: 0 20px;
}

.meme-buttons{
  height: 50px;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.control-button{
  width: 33.33%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--navigation-color);
  cursor: pointer;
}

.post-meta{
  font-size: 17px;
  font-weight: 500;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.control-button:hover i{
  color: white;
}

.control-button:hover{
  border: 2px solid var(--navigation-color);
  background-color: var(--navigation-color);
}

.sidebar-column{
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%;
}

#sidebar-header{
  width: 100%;
  background-color: var(--navigation-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar-title{
  color: white;
  font-size: 22px;
}

.category-list{
  padding: 0;
  margin: 0;
}

.category-item{
  height: auto;
  border-bottom: 2px solid var(--body-color);
  padding: 10px;
}

.category-item > a , .mobile-menu-item > a{
  width: 100%;
  font-size: 19px;
  text-decoration: none;
  font-weight: 500;
}

.category-item > a:hover , .mobile-menu-item > a:hover{
  color: var(--navigation-color);
}

.point{
  min-width: 70px;
  margin-right: 10px;
}

.category-item:hover, .mobile-menu-item:hover{
  background-color: #e9dff6;
  color: #4e2187;
}

/* Stilius komentarø puslapiui */

.meme-comments{
  min-height: 200px;
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.comment-box-first{
  width: 100%;
}

.payload{
  width: 100%;
}

.comment-username{
  font-family: sans-serif;
  width: 100%;
  height: 35px;
  resize: none;
  cursor: text;
  border: 2px solid var(--navigation-color);
  margin-bottom: 5px;
  padding: 5px 10px;
}

.comment-text-area{
  font-family: sans-serif;
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  resize: none;
  cursor: text;
  border: 2px solid var(--navigation-color);
  margin-bottom: 10px;
}

.top-bar, .middle-bar, .bottom-bar {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.meniu-close .top-bar {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  transition: transform 0.5s;
  background-color: var(--navigation-color);
}

.meniu-close  .middle-bar {opacity: 0;}

.meniu-close  .bottom-bar {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-8px, -5px);
  background-color: var(--navigation-color);
  transition: transform 0.5s;
}

.action {
  width: 100%;
  height: 30px;
  display: block;
}

.comment-post-btn {
  float: right;
  color: #fff;
  background-color: var(--navigation-color);
  border: 1px var(--navigation-color);
  text-align: center;
  cursor: pointer;
  height: 30px;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
}

.comment-post-btn:hover{
  background-color: #3a2553;
}

.comment-entry {
  /*padding: 5px 5px;*/
  width: 100%;
}

.username-date {
  font-weight: 600;
  font-size: 13px;
}

.date{
  float: right;
}

.comment-content {
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  word-break: hard;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /*border-bottom: 1px solid var(--navigation-color);*/
}

/* Stilius edit ir delete mygtukams */

#edit_meme_button {
  color:brown; 
  opacity:0.5;
}

#edit_meme_button:hover {
  opacity:1;
}

#delete_meme_button {
  color:red; 
  opacity:0.5;
}

#delete_meme_button:hover {
  opacity:1;
}

/* Stilius admin prisijungimo langui */

#login-form {
  height: 210px;
  width: 310px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  background-color: #f0f0f0;
  border-top: 2px solid var(--navigation-color);
  border-radius: 10px;
}

#form-inputs {
  width: 100%;
  margin-bottom: 10px;
}

#input {
  float:left;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

#login-button {
  height: 30px;
  width: 100%;
  background-color: var(--navigation-color);
  border-radius: 10px;
  border: 2px solid var(--navigation-color);
}

#mobile-nav {
  display: none;
  z-index: 999;
}

.row-container{
  margin-top:70px; 
}
/* Stilius admin prisijungimo langui */

#login-body{
  font-family: sans-serif;
  background: rgb(5,64,149);
  background: linear-gradient(45deg, rgba(5,64,149,1) 0%, rgba(5,100,149,1) 35%, rgba(0,153,204,1) 100%);
  margin: 0;
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0;
  width:100%;
}

#login-form {
  height: 210px;
  width: 310px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  background-color: #f0f0f0;
  border-top: 2px solid var(--navigation-color);
  border-radius: 10px;
}

#form-inputs {
  width: 100%;
  margin-bottom: 10px;
}

#input {
  float:left;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  padding: 10px 25px;
  margin-bottom: 10px;
}

#login-button {
  height: 35px;
  width: 100%;
  background-color: var(--navigation-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

#login-button:hover {
  color: white;
  border: 2px solid var(--navigation-hover);
  background-color: var(--navigation-hover);
  color: var(--navigation-color);
}

#mobile-nav {
  display: none;
  z-index: 999;
}

.row-container{
  margin-top:70px; 
}

/* Stilius upload langui */

input[type="file"]{
  display: none;
}

.custom-file-upload{
  border: 2px solid var(--navigation-color);
  display: inline-block;
  padding: 3px 12px;
  font-size: 17px;
  cursor: pointer;
  color: var(--navigation-color);
  margin-bottom: 10px;
}

.custom-file-upload > i{
  padding: 3px;
  color:var(--navigation-color);
  font-size: 17px;
}

.custom-file-upload:hover i{
  color: white;
}

.custom-file-upload:hover{
  color: white;
  border: 2px solid var(--navigation-color);
  background-color: var(--navigation-color);
}

.upload-input {
  float:left;
  width: 100%;
  border: 2px solid var(--navigation-color);
  padding-left: 10px;
  padding: 10px 25px;
  margin-bottom: 10px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--navigation-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.upload-button{
  height: 35px;
  width: 100%;
  font-size: 17px;
  background-color: var(--div-color);
  color: var(--navigation-color);
  border: 2px solid var(--navigation-color);
  cursor: pointer;
  margin-top: 10px;
}

.upload-button:hover{
  color: white;
  border: 2px solid var(--navigation-color);
  background-color: var(--navigation-color);
}

/* Stilius kategorijos pridėjimo langui */

.new-category-input {
  float:left;
  width: 100%;
  border: 2px solid var(--navigation-color);
  padding-left: 10px;
  padding: 10px 25px;
  margin-bottom: 10px;
}


#login-body{
  font-family: sans-serif;
  background: #4e2187;
  background: linear-gradient(45deg, #4e2187 20%, #4e2187 50%, #714d9f 20%);
  margin: 0;
  min-height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0;
  width:100%;
}

.new-category-button{
  height: 35px;
  width: 100%;
  font-size: 17px;
  background-color: var(--div-color);
  color: var(--navigation-color);
  border: 2px solid var(--navigation-color);
  cursor: pointer;
}

.new-category-button:hover{
  color: white;
  border: 2px solid var(--navigation-hover);
  background-color: var(--navigation-hover);
}
/* Stilius edit langui */

.edit-input {
  float:left;
  width: 90%;
  border: 2px solid var(--navigation-color);
  padding-left: 10px;
  margin-bottom: 10px;
}

/*Mobile version*/
.mobile-menu-background{
  position:fixed; 
  left:0; 
  top:0; 
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: none;
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid var(--navigation-color);
  border-bottom: 1px solid var(--navigation-color);
}

.meniu-close{
  -webkit-transition: opacity 0.7s;
  opacity: 1;
  display: inline;
}

.mobile-menu-content{
  width: 30%; 
  float: right; 
  z-index: 999; 
  background: #fff none repeat scroll 0% 0%; 
  display: inline;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  height: 100%;
  -webkit-transition: opacity 0.7s;
}

.mobile-menu-content > ul{
  padding: 0 10px;
  margin: 0;
}
.mobile-menu-item{
  padding: 10px;
}

.mobile-menu-item > a {
  color:black;
}

.mobile-menu-item.active > a{
  color: white;
}

.mobile-menu-item:hover a{
  color: var(--navigation-color);
}

.mobile-social{
  width: 35px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.mobile-social:hover > i{
  color:var(--navigation-color);
}

.mobile-social> i{
  color:var(--navigation-color);
}


@media only screen and (max-width:800px){
  .sidebar-column {
    display: none;
  }

  .main-column {
    height: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width:800px){
 
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .row-container{
    margin-top:70px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .row-container{
    margin-top: 70px;
  }
  .nav-bar-item{
    padding: 10px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  #header{
    padding: 0 1.8%;
  }
  .row-container{
    margin: 70px 0 70px 0;
  }

  .sidebar-column, .sidebar-column,.nav-bar-item, .nav-social-icons{
    display: none;
  }
 
  #mobile-nav{
    display: inline;
    color: white;
    font-size:22px;
    cursor: pointer;
  }

  .main-column{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #header{
    padding: 0 2.3%;
  }
  .row-container{
    margin: 70px 0px 70px 0px;
  }

  #mobile-nav{
    display: inline;
    color: white;
    font-size:22px;
    cursor: pointer;
  }

  .nav-bar-item, .nav-social-icons{
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  
  #header{
    padding: 0 4%;
  }

  .row-container{
    margin: 70px 0px;
  }

  #mobile-nav{
    display: inline;
    color: white;
    font-size:22px;
    cursor: pointer;
  }

  .navigation-items{
    display: none;
  }

  .nav-bar-item, .nav-social-icons{
    display: none;
  }  
  #site-logo{
    width: 100%;
  }
}
